/**
 * Include global variables
 */
@import "variables/media-queries";

body {
	background: #fff;
}

/**
 * Bootstrap overrides
 */
.panel {
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.5);
    box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

/**
 * Include base theme
 */
@import "base/main";

/**
 * Add base application classes
 */
@import 'base/application';

/**
 * Add module layouts
 */
@import 'base/module';