@import "../styles/variables/colors";
@import "../styles/variables/spacing";
@import "../styles/variables/theme-variables";
@import "../styles/mixins/transitions";

$checkbox-size: 24px;

.checkbox {
  vertical-align: middle;
}

.checkboxInput {
  display: none;
}

.checkboxIcon {
  $checkbox-size: 24px;

  height: $checkbox-size;
  width: $checkbox-size;
  margin-right: $gutter-less;
  position: relative;
  display: inline-block;

  .checkboxIconCheck {
    position: absolute;
    opacity: 0;
    @include transform(scale(0));
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;

    @include transition(opacity 450ms $ease-out-function 0ms, transform 0ms $ease-out-function 450ms);

    * { fill: $checkbox-checked-color; }
  }

  .checkboxIconCheckOn {
    @include ease-out($duration: .45s, $delay: 0s);
    opacity: 1;
    @include transform(scale(1));
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;

    @include transition(opacity 0ms $ease-out-function 0ms, transform 800ms $ease-out-function 0ms);
  }


  .checkboxIconBox {
    position: absolute;
    * {
      fill: $checkbox-box-color;
      @include ease-out($duration: 2s, $delay: 200ms);
    }
  }

  .checkboxIconBoxOn {
    @include ease-out($duration: 100s, $delay: 0ms);
    * { fill: $checkbox-checked-color; }
  }
}

.checkboxText {
  display: inline-block;
  height: $checkbox-size;
  vertical-align: top;
  line-height: $checkbox-size;
}