.chamel-enhanced-textarea {
  .chamel-enhanced-textarea-shadow,
  .chamel-enhanced-textarea-input {
    width: 100%;
    resize: none;
  }

  .chamel-enhanced-textarea-input {
    overflow: hidden;
  }

  .chamel-enhanced-textarea-shadow {
    @include transform(scale(0));
    position: absolute;
  }
}