.chamel-popover {

  * {@include ease-out(); }

  position: absolute;
  min-width: 10px;
  opacity: 0;
  display: none;

  &.chamel-popover-visible {
    opacity: 1;
    z-index: 99;
    display: block;
  }

  .autocomplete-menu {
    margin-top: 40px;
  }
}
