@import "../styles/variables/colors";
@import "../styles/variables/theme-variables";
@import "../styles/mixins/transitions";
@import "../styles/core/typography";

.snackbar {
  color: $snackbar-text-color;
  background-color: $snackbar-background-color;
  border-radius: 2px;
  padding: 0 $desktop-gutter;
  height: $desktop-subheader-height;
  line-height: $desktop-subheader-height;
  min-width: 288px;
  max-width: 568px;

  position: fixed;
  z-index: 10;
  bottom: $desktop-gutter;
  left: $desktop-gutter;

  @include ease-out();
  opacity: 0;
  @include transform(translate3d(0, 8px, 0));

  &.snackbarIsOpen {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}

.snackbarAction {
  color: $snackbar-action-color;
  float: right;
  margin-top: 6px;
  margin-right: -16px;
  margin-left: $desktop-gutter;
  background-color: transparent;
}