{
    "presets": [
        "es2015",
        "stage-1",
        "react"
    ],
    "plugins": [
        ["transform-replace-object-assign", "simple-assign"],
        "transform-dev-warning",
        "add-module-exports",
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "chamel": "./src"
            }
        }]
    ]
}

