.chamel-app-bar {
  width: 100%;
  background-color: $app-bar-color;
  z-index: 5;
  height: $app-bar-height-small;

  @media #{$device-medium} {
    height: $app-bar-height-medium;
  }

  @media #{$device-large} {
    height: $app-bar-height-large;
  }

  .chamel-paper-container {
    padding-left: $gutter-less;
    padding-right: $gutter-less;

    @media #{$device-medium} {
      padding-left: $gutter-less;
      padding-right: $gutter;
    }

    @media #{$device-large} {
      padding-left: $gutter-less;
      padding-right: $gutter;
    }
  }

  .chamel-icon-button {
    margin-top: (($app-bar-height-small - $icon-button-size) / 2);

    @media #{$device-medium} {
      margin-top: (($app-bar-height-medium - $icon-button-size) / 2);
    }

    @media #{$device-large} {
      margin-top: (($app-bar-height-large - $icon-button-size) / 2);
    }

    * {
      fill: $app-bar-text-color;
      color: $app-bar-text-color;
    }
  }


  .chamel-app-bar-title {
    @extend .cml-font-style-title;
    color: $app-bar-text-color;
    padding: 0;
    margin: 0;

    float: left;

    line-height: $app-bar-height-small;
    @media #{$device-medium} {
      line-height: $app-bar-height-medium;
    }
    @media #{$device-large} {
      line-height: $app-bar-height-large;
    }
  }

  .chamel-app-bar-toolbar {
    float: right;
    margin: 0 ($gutter-less * -1) 0 $gutter-less;

    @media #{$device-medium} {
      margin: 0 ($gutter * -1) 0 $gutter;
    }

    @media #{$device-large} {
      margin: 0 ($gutter * -1) 0 $gutter;
    }
  }

  .chamel-app-bar-navigation-icon-button {
    float: left;
    margin-right: $gutter-less - ($gutter-less - ($icon-size / 2));
    margin-left: ($icon-size / 2) * -1;

    @media #{$device-medium} {
      margin-right: $gutter - ($gutter - ($icon-size / 2));
      margin-left: ($icon-size / 2) * -1;
    }

    @media #{$device-large} {
      margin-right: $gutter - ($gutter - ($icon-size / 2));
      margin-left: ($icon-size / 2) * -1;
    }

  }

  .chamel-app-bar-input-search-box {
    float: left;

    .chamel-text-field-hint {
      color: white;
    }
  }

  &.chamel-search {
    background-color: $transparent;

    * {
      fill: $grey-600;
      color: $grey-600;
    }
  }

  &.chamel-detail {
    background-color: $transparent;

    * {
      fill: $grey-600;
      color: $grey-600;
    }
  }

  &.chamel-edit {
    background-color: $red-500;
  }

}