.chamel-color-picker {
	position: absolute;
	margin-top: 55px;
	display: none;
	background-color: #f0f0f0;

	.chamel-color-picker-close {
    	float: right;
    	margin-top: -25px;
	}
	
	.chamel-color-picker-label {
    	font-size: 20px;
	}
}