.chamel-dialog-window {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;

  @include transition(left 0ms $ease-out-function 450ms);

  .chamel-dialog-window-contents {
    @include ease-out();
    position: relative;
    width: 75%;
    max-width: ($desktop-keyline-increment * 12);
    margin: 0 auto;
    z-index: 10;
    background: $canvas-color;
    opacity: 0;
  }

  .chamel-dialog-window-actions {
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    text-align: right;

    .chamel-dialog-window-action {
      margin-right: 8px;
    }
  }

  &.chamel-is-shown {
    left: 0px;
    @include transition(left 0ms $ease-out-function 0ms);

    .chamel-dialog-window-contents {
      opacity: 1;
      top: 0px;
      @include transform(translate3d(0, $desktop-keyline-increment, 0));
    }
  }
}