.chamel-drop-down-menu {

  * {
    @include ease-out();
  }

  position: relative;
  display: inline-block;
  height: $icon-size * 2;
  font-size: 16px;

  &.chamel-open {
    .chamel-menu-control {
      &:hover,
      &:focus {

        .chamel-menu-control-bg {
          opacity: 0;
        }

        .chamel-menu-label {
          top: (48px / 2);
          opacity: 0;
        }
      }
    }

    .chamel-menu {
      opacity: 1;
    }
  }

  .chamel-menu-control {
    cursor: pointer;
    @include clearfix();
    height: 100%;

    .chamel-menu-control-bg {
      background-color: $menu-background-color;
      height: 100%;
      width: 100%;
      opacity: 0;
    }

    &:hover,
    &:focus {
      .chamel-menu-control-bg {
        opacity: 1;
      }
    }

    .chamel-menu-label {
      line-height: 32px;
      /*position: absolute;*/
      padding-left: $desktop-gutter;
      /*top: 0;
      opacity: 1;*/
    }

    .chamel-menu-drop-down-icon {
      position: absolute;
      top: $icon-size / 4;
      right: $desktop-gutter-less;
      fill: $drop-down-menu-icon-color;
    }

    .chamel-menu-control-underline {
      border-top: solid 1px $border-color;
      margin: 0 $desktop-gutter 8px $desktop-gutter;
    }
  }

  .chamel-menu {
    .chamel-menu-item {
      padding-right: ($icon-size + $desktop-gutter-less + $desktop-gutter-mini);
      height: 48px;
      line-height: 48px;
      white-space: nowrap;
    }
  }
}
