.chamel-flat-button {

  @include ease-out();
  @extend .cml-font-style-button;
  border-radius: $button-border-radius;
  user-select: none;

  position: relative;
  overflow: hidden;
  background-color: $flat-button-color;
  color: $flat-button-text-color;
  line-height: $button-height;
  min-width: $button-min-width;
  padding: 0 $desktop-gutter-less;
  margin: 0;

  .chamel-flat-button-label {
    position: relative;
  }

  &:hover,
  &.chamel-is-keyboard-focused {
    background-color: $flat-button-hover-color;
  }

  &.chamel-is-disabled {
    color: $flat-button-disabled-text-color;

    &:hover {
      background-color: inherit;
    }
  }

  &.chamel-is-primary {
    color: $flat-button-primary-text-color;

    &:hover,
    &.chamel-is-keyboard-focused {
      background-color: $flat-button-primary-hover-color;
    }

    .chamel-touch-ripple {
      .chamel-ripple-circle-inner {
        background-color: $flat-button-primary-ripple-color;
      }
    }

    .chamel-focus-ripple {
      .chamel-focus-ripple-inner {
        background-color: $flat-button-primary-focus-ripple-color;
      }
    }
  }

  &.chamel-is-secondary {
    color: $flat-button-secondary-text-color;

    &:hover,
    &.chamel-is-keyboard-focused {
      background-color: $flat-button-secondary-hover-color;
    }

    .chamel-touch-ripple {
      .chamel-ripple-circle-inner {
        background-color: $flat-button-secondary-ripple-color;
      }
    }

    .chamel-focus-ripple {
      .chamel-focus-ripple-inner {
        background-color: $flat-button-secondary-focus-ripple-color;
      }
    }
  }
}