.chamel-raised-button {

  display: inline-block;
  min-width: $button-min-width;
  height: $button-height;

  &, * { @include ease-out(); }

  .chamel-raised-button-container {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: $button-border-radius;
    background-color: $raised-button-color;
    
    //This is need so that ripples do not bleed
    //past border radius.
    //See: http://stackoverflow.com/questions/17298739/css-overflow-hidden-not-working-in-chrome-when-parent-has-border-radius-and-chil
    @include transform(translate3d(0, 0, 0));

    &.is-keyboard-focused {
      background-color: $raised-button-hover-color;
    }

    &.is-disabled {
      background-color: $raised-button-disabled-color;

      .chamel-raised-button-label {
        color: $raised-button-disabled-text-color;
      }

      &:hover {
        background-color: $raised-button-disabled-color;
      }
    }
  }

  .touch-ripple {
    .ripple-circle-inner {
      background-color: $raised-button-ripple-color;
    }
  }

  .focus-ripple {
    .focus-ripple-inner {
      background-color: $raised-button-focus-ripple-color;
    }
  }

  .chamel-raised-button-label {
    position: relative;
    @extend .cml-font-style-button;
    margin: 0;
    padding: 0 $desktop-gutter-less;
    user-select: none;
    line-height: $button-height;
    color: $raised-button-text-color;
  }

  &:hover {
    .chamel-raised-button-container {
      background-color: $raised-button-hover-color;
    }
  }

  &.is-primary {

    .chamel-raised-button-container {
      background-color: $raised-button-primary-color;

      &.is-keyboard-focused {
        background-color: $raised-button-primary-hover-color;
      }
    }

    .touch-ripple {
      .ripple-circle-inner {
        background-color: $raised-button-primary-ripple-color;
      }
    }

    .focus-ripple {
      .focus-ripple-inner {
        background-color: $raised-button-primary-focus-ripple-color;
      }
    }

    .chamel-raised-button-label {
      color: $raised-button-primary-text-color;
    }

    &:hover {
      .chamel-raised-button-container {
        background-color: $raised-button-primary-hover-color;
      }
    }
  }

  &.is-secondary {

    .chamel-raised-button-container {
      background-color: $raised-button-secondary-color;

      &.is-keyboard-focused {
        background-color: $raised-button-secondary-hover-color;
      }
    }

    .touch-ripple {
      .ripple-circle-inner {
        background-color: $raised-button-secondary-ripple-color;
      }
    }

    .focus-ripple {
      .focus-ripple-inner {
        background-color: $raised-button-secondary-focus-ripple-color;
      }
    }

    .chamel-raised-button-label {
      color: $raised-button-secondary-text-color;
    }

    &:hover {
      .chamel-raised-button-container {
        background-color: $raised-button-secondary-hover-color;
      }
    }
  }
}