$column-width: 200px;

.chamel-table {
  padding: 0 $desktop-gutter;

  .chamel-table-header {

    .chamel-table-header-column {
      display: inline-block;
      height: 48px;
      line-height: 48px;
      width: $column-width;
    }

    .chamel-table-header-pagify {
      display: inline-block;
      height: 48px;
      line-height: 48px;
      float: right;
    }
  }

  .chamel-table-rows {

    .chamel-table-rows-item {
      height: 48px;
      line-height: 48px;
      display: block;
      width: 100%;
    }

    .chamel-table-rows-actions {
      height: 48px;
      line-height: 48px;
      display: inline-block;
      float: right;
    }
  }
}
