.text-field {
  $disabled-text-color: rgba($body-text-color, 0.3);
  $error-color: $red-500;

  font-size: 16px;
  line-height: 24px;

  /*width: (64px * 4);*/
  height: 48px;
  display: block;
  position: relative;
  @include ease-out($property: height, $duration: 200ms);

  //Normal Text Field Styles
  //------------------------
  .text-field-hint,
  .text-field-floating-label {
    position: absolute;
    line-height: 48px;
    color: $disabled-text-color;
    opacity: 1;
    @include ease-out();
  }

  .text-field-error {
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    line-height: 12px;
    color: $error-color;
    @include ease-out();
  }

  .text-field-input,
  .text-field-textarea {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: $transparent;
    color: $body-text-color;
  }

  .text-field-textarea {
    margin-top: 12px;
  }

  .text-field-underline,
  .text-field-focus-underline {
    position: absolute;
    width: 100%;
    bottom: 8px;
    margin: 0;
  }

  .text-field-focus-underline {
    border-color: $primary-1-color;
    border-bottom-width: 2px;
    @include transform(scaleX(0));
    @include ease-out();
  }

  &.has-error {
    .text-field-focus-underline {
      border-color: $error-color;
      @include transform(scaleX(1));
    }
  }

  &.has-value {
    .text-field-hint {
      opacity: 0;
    }
  }

  &.is-disabled {

    .text-field-input {
      color: $disabled-text-color;
    }

    .text-field-underline {
      border: none;
      height: 40px;
      overflow: hidden;

      // hack because border style dotted just doesn't look right
      // border-bottom-style: dotted;
      &:after {
        content: '..............................................................................................................................................................................................................................................................................................................................................................';
        position: absolute;
        top: 23px;
        color: $disabled-text-color;
      }
    }
  }

  &.is-focused {
    .text-field-focus-underline {
      @include transform(scaleX(1));
    }
  }

  //Floating Label Text Field Styles
  //--------------------------------
  &.has-floating-labels {
    height: 72px;

    .text-field-floating-label {
      top: 24px;
      @include transform(scale(1) translate3d(0, 0, 0));
      transform-origin: left top;
      -webkit-transform-origin: left top;
    }

    .text-field-hint {
      top: 24px;
      opacity: 0;
    }

    .text-field-input {
      padding-top: 24px;
    }

    &.has-value,
    &.is-focused {
      .text-field-floating-label {
        @include transform(scale(0.75) translate3d(0, -18px, 0));
      }
    }

    &.has-value {
      .text-field-floating-label {
        color: rgba($body-text-color, 0.5);
      }
    }

    &.is-disabled {
      .text-field-hint {
        color: $disabled-text-color;
      }
    }

    &.is-focused {

      .text-field-hint {
        opacity: 1;
      }

      .text-field-floating-label {
        @include transform(scale(0.75) translate3d(0, -18px, 0));
        color: $primary-1-color;
      }

      &.has-error {
        .text-field-floating-label {
          color: $error-color;
        }
      }

      &.has-value {
        .text-field-hint {
          opacity: 0;
        }
      }
    }
  }
}