.toolbar {
  background-color: $toolbar-background-color;
  height: $toolbar-height;
  width: 100%;
  padding: 0 $desktop-gutter;

  .toolbar-group {
    position: relative;

    .toolbar-title {
      padding-right: $desktop-gutter-less;
      line-height: $toolbar-height;
    }

    .toolbar-separator {
      background-color: $toolbar-separator-color;
      display: inline-block;
      height: $desktop-gutter-more;
      margin-left: $desktop-gutter;
      position: relative;
      top: (($toolbar-height - $desktop-gutter-more) / 2);
      width: 1px;
    }

    .chamel-raised-button,
    .chamel-flat-button {
      margin: 0 $desktop-gutter;
      margin-top: (($toolbar-height - $button-height) / 2);
      position: relative;
    }

    .drop-down-menu {
      color: $light-black;
      display: inline-block;
      margin-right: $desktop-gutter;

      .menu-control-bg {
        background-color: $toolbar-menu-hover-color;
        border-radius: 0;
      }

      .menu-control {
        .menu-control-underline {
          display: none;
        }
      }

      .font-icon {
        &:hover {
          color: $toolbar-icon-color;
        }
      }
    }

    .chamel-font-icon {
      color: $toolbar-icon-color;
      cursor: pointer;
      line-height: $toolbar-height;
      padding-left: $desktop-gutter;

      &:hover {
        color: $dark-black;
        z-index: 1;
      }
    }

    &.left {
      float: left;

      .drop-down-menu, .font-icon, .toolbar-separator, .drop-down-icon  {
        float: left;
      }

      &:first-child {
        margin-left: -24px;

        .toolbar-title {
          margin-left: 24px;
        }
      }
    }

    &.right {
      float: right;

      * {
        vertical-align: top;
      }

      &:last-child {
        margin-right: -24px;
      }
    }
  }
}