@import "../styles/variables/colors";
@import "../styles/variables/spacing";
@import "../styles/variables/theme-variables";
@import "../styles/mixins/transitions";

.drawer {
  overflow: auto;
  height: 100%;
  width: $left-nav-width;
  background-color: $left-nav-color;
  z-index: 10;
}

.drawerClipped {
  position: fixed;
}

.drawerFloating {
  left: 0;
  top: 0;
  position: absolute;
  @include ease-out();
}

.drawerPermanent {

}

.drawerTransparent {
  background-color: transparent;
}

.drawerClosed {
  @include transform(translate3d((-1 * $left-nav-width) - 10px, 0, 0));
}