.login-page {
	height: 100%;
	padding: 15px;

	.login-logo-con {
		text-align: center;

		.login-logo {
			max-width: 100%;
		}
	}

	.login-form-con {
		max-width: 293px;
		margin-left: auto;
		margin-right: auto;

		.login-form-actions {
			margin-top: 20px;
		}
	}
}