.entity-form {
	margin: 0 $gutter-less 0 $gutter-less;

	@media #{$device-medium} {
		margin: 0 $gutter 0 $gutter;
	}

	@media #{$device-large} {
		margin: 0 $gutter 0 $gutter;
	}

	.entity-form-row {
		/*display: -webkit-box;
		display: -moz-box;*/

	  /*
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex; 

		.entity-form-column {
			flex: 1 100%;
		}
		*/
	}

	.entity-form-field {
		/*
		display: -webkit-box;
		display: -moz-box;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		.entity-form-field-label {
			-webkit-flex: initial;
			flex: initial;
			margin-right: $gutter-less;
			width: $icon-size;
		}

		.entity-form-field-value {
			
		}
		*/
	}

	hr {
		margin-bottom: 7px;
	}

}