@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /* For IE6-8 *
  src: url(./font-material/MaterialIcons-Regular.eot);
  */
  /*
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./font-material/MaterialIcons-Regular.woff2) format('woff2'),
  url(./font-material/MaterialIcons-Regular.woff) format('woff'),
  url(./font-material/MaterialIcons-Regular.ttf) format('truetype');
  */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* chanel font icon namespace */
.fontIcon {
  font-size: 24px;
}

/**
 * Navigation Icons
 */
.iconAccessTime {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAccessibility {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAccount {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAdd {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAddCircle {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconApps {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowBack {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowDown {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowDropDown {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowDropDownCircle {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowDropUp {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowForward {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowRight {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconArrowUp {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAttachment {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconAttachFile {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconBorderColor {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconBuild {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconCancel {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconCheck {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconCheckCircle {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconChevronLeft {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconChevronRight {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconClose {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconCode {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconComment {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconContacts {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconContentPaste {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconDashboard {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconDateRange {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconDelete {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconEdit {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconEmail {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconExpandLess {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconExpandMore {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconFindPage {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconFirstPage {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconFullScreen {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconFullScreenExit {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconGroup {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconInbox {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconLabel {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconLastPage {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconLibraryBooks {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconLocalOffer {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconMenu {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconMerge {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconMoreHoriz {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconMoreVert {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconNote {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconPersonAdd {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconPhoto {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconPhotoCamera {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconPrint {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconRefresh {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSearch {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSend {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSettings {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSettingsApplication {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconShuffle {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconStreetView {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconStyle {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSubArrowLeft {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSubArrowRight {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconSwapHoriz {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconTransform {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconWeb {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconWork {
  @extend .fontIcon;
  @extend .material-icons;
}

/**
 * Editor Icons
 */

.iconBold {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconUnderlined {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconItalic {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconLink {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconListNumbered {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconListBulleted {
  @extend .fontIcon;
  @extend .material-icons;
}

.iconTitle {
  @extend .fontIcon;
  @extend .material-icons;
}

/*
 * Something else
 */
.iconCreate {
  @extend .fontIcon;
  @extend .material-icons;
}
