/**
 * These are the default icons built using font-awesome.
 */
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/animated";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

/* chanel font icon namespace */
.fontIcon {
  @include fa-icon();
  font-size: 24px;
}

.iconSize18 {
  font-size: 18px;
}

.iconSize24 {
  font-size: 24px;
}

.iconSize36 {
  font-size: 36px;
}

.iconSize48 {
  font-size: 48px;
}

/**
 * Navigation Icons
 */
.iconAccessTime {
  @extend .fontIcon;
  @extend .fa-clock-o;
}

.iconAccessibility {
  @extend .fontIcon;
  @extend .fa-child;
}

.iconAccount {
  @extend .fontIcon;
  @extend .fa-user;
}

.iconAdd {
  @extend .fontIcon;
  @extend .fa-plus;
}

.iconAddCircle {
  @extend .fontIcon;
  @extend .fa-plus-circle;
}

.iconAnnouncement {
  @extend .fontIcon;
  @extend .fa-bullhorn;
}

.iconApps {
  @extend .fontIcon;
  @extend .fa-th;
}

.iconArrowBack {
  @extend .fontIcon;
  @extend .fa-arrow-left;
}

.iconArrowDown {
  @extend .fontIcon;
  @extend .fa-arrow-down;
}

.iconArrowDropDown {
  @extend .fontIcon;
  @extend .fa-caret-down;
}

.iconArrowDropDownCircle {
  @extend .fontIcon;
  @extend .fa-chevron-circle-down;
}

.iconArrowDropUp {
  @extend .fontIcon;
  @extend .fa-caret-up;
}

.iconArrowForward {
  @extend .fontIcon;
  @extend .fa-arrow-right;
}

.iconArrowRight {
  @extend .fontIcon;
  @extend .fa-caret-right;
}

.iconArrowUp {
  @extend .fontIcon;
  @extend .fa-arrow-up;
}

.iconAttachment {
  @extend .fontIcon;
  @extend .fa-paperclip;
}

.iconAttachFile {
  @extend .fontIcon;
  @extend .fa-paperclip;
}

.iconBold {
  @extend .fontIcon;
  @extend .fa-bold;
}

.iconBorderColor {
  @extend .fontIcon;
  @extend .fa-pencil-square-o;
}

.iconBuild {
  @extend .fontIcon;
  @extend .fa-wrench;
}

.iconCancel {
  @extend .fontIcon;
  @extend .fa-times-circle;
}

.iconCheck {
  @extend .fontIcon;
  @extend .fa-check;
}

.iconCheckCircle {
  @extend .fontIcon;
  @extend .fa-check-circle;
}

.iconChevronLeft {
  @extend .fontIcon;
  @extend .fa-chevron-left;
}

.iconChevronRight {
  @extend .fontIcon;
  @extend .fa-chevron-right;
}

.iconClose {
  @extend .fontIcon;
  @extend .fa-times;
}

.iconCode {
  @extend .fontIcon;
  @extend .fa-code;
}

.iconComment {
  @extend .fontIcon;
  @extend .fa-comment-o;
}

.iconContacts {
  @extend .fontIcon;
  @extend .fa-male;
}

.iconContentPaste {
  @extend .fontIcon;
  @extend .fa-clipboard;
}

.iconDashboard {
  @extend .fontIcon;
  @extend .fa-tachometer;
}

.iconDateRange {
  @extend .fontIcon;
  @extend .fa-calendar;
}

.iconDelete {
  @extend .fontIcon;
  @extend .fa-trash;
}

.iconEdit {
  @extend .fontIcon;
  @extend .fa-pencil;
}

.iconEmail {
  @extend .fontIcon;
  @extend .fa-envelope-o;
}

.iconExpandLess {
  @extend .fontIcon;
  @extend .fa-chevron-up;
}

.iconExpandMore {
  @extend .fontIcon;
  @extend .fa-chevron-down;
}

.iconFilterList {
  @extend .fontIcon;
  @extend .fa-filter;
}

.iconFindPage {
  @extend .fontIcon;
  @extend .fa-search;
}

.iconFirstPage {
  @extend .fontIcon;
  @extend .fa-fast-backward;
}

.iconFlag {
  @extend .fontIcon;
  @extend .fa-flag;
}

.iconFullScreen {
  @extend .fontIcon;
  @extend .fa-arrows-alt;
}

.iconFullScreenExit {
  @extend .fontIcon;
  @extend .fa-compress;
}

.iconGroup {
  @extend .fontIcon;
  @extend .fa-users;
}

.iconInbox {
  @extend .fontIcon;
  @extend .fa-inbox;
}

.iconItalic {
  @extend .fontIcon;
  @extend .fa-italic;
}

.iconLabel {
  @extend .fontIcon;
  @extend .fa-tag;
}

.iconLastPage {
  @extend .fontIcon;
  @extend .fa-fast-forward;
}

.iconLibraryBooks {
  @extend .fontIcon;
  @extend .fa-clipboard;
}

.iconLink {
  @extend .fontIcon;
  @extend .fa-link;
}

.iconListNumbered {
  @extend .fontIcon;
  @extend .fa-list-ol;
}

.iconListBulleted {
  @extend .fontIcon;
  @extend .fa-list-ul;
}

.iconLocalOffer {
  @extend .fontIcon;
  @extend .fa-tag;
}

.iconMenu {
  @extend .fontIcon;
  @extend .fa-bars;
}

.iconMerge {
  @extend .fontIcon;
  @extend .fa-exchange;
}

.iconMoreHoriz {
  @extend .fontIcon;
  @extend .fa-ellipsis-h;
}

.iconMoreVert {
  @extend .fontIcon;
  @extend .fa-ellipsis-v;
}

.iconNote {
  @extend .fontIcon;
  @extend .fa-pencil-square-o;
}

.iconPersonAdd {
  @extend .fontIcon;
  @extend .fa-user-plus;
}

.iconPhoto {
  @extend .fontIcon;
  @extend .fa-picture-o;
}

.iconPhotoCamera {
  @extend .fontIcon;
  @extend .fa-camera;
}

.iconPrint {
  @extend .fontIcon;
  @extend .fa-print;
}

.iconRefresh {
  @extend .fontIcon;
  @extend .fa-refresh;
}

.iconSave {
  @extend .fontIcon;
  @extend .fa-floppy-o;
}

.iconSearch {
  @extend .fontIcon;
  @extend .fa-search;
}

.iconSend {
  @extend .fontIcon;
  @extend .fa-paper-plane;
}

.iconSettings {
  @extend .fontIcon;
  @extend .fa-cog;
}

.iconSettingsApplication {
  @extend .fontIcon;
  @extend .fa-cogs;
}

.iconShuffle {
  @extend .fontIcon;
  @extend .fa-random;
}

.iconStreetView {
  @extend .fontIcon;
  @extend .fa-street-view;
}

.iconStyle {
  @extend .fontIcon;
  @extend .fa-tags;
}

.iconSubArrowLeft {
  @extend .fontIcon;
  @extend .fa-caret-left;
}

.iconSubArrowRight {
  @extend .fontIcon;
  @extend .fa-caret-right;
}

.iconSwapHoriz {
  @extend .fontIcon;
  @extend .fa-exchange;
}

.iconTitle {
  @extend .fontIcon;
  @extend .fa-header;
}

.iconTitleType {
  margin-top: 20px;
}

.iconTransform {
  @extend .fontIcon;
  @extend .fa-random;
}

.iconViewList {
  @extend .fontIcon;
  @extend .fa-list;
}

.iconWeb {
  @extend .fontIcon;
  @extend .fa-newspaper-o;
}

.iconWork {
  @extend .fontIcon;
  @extend .fa-briefcase;
}

.iconUnderlined {
  @extend .fontIcon;
  @extend .fa-underline;
}

/*
 * Something else
 */
.iconCreate {
  @extend .fontIcon;
  @extend .fa-pencil;
}

/**
 * Text Icons
 */

.alignCenter {
  @extend .fontIcon;
  @extend .fa-align-center;
}

.alignLeft {
  @extend .fontIcon;
  @extend .fa-align-left;
}

.alignRight {
  @extend .fontIcon;
  @extend .fa-align-right;
}

.bold {
  @extend .fontIcon;
  @extend .fa-bold;
}

.italic {
  @extend .fontIcon;
  @extend .fa-italic;
}

.underline {
  @extend .fontIcon;
  @extend .fa-underline;
}

.font {
  @extend .fontIcon;
  @extend .fa-font;
}

.files {
  @extend .fontIcon;
  @extend .fa-files-o;
}

.minus {
  @extend .fontIcon;
  @extend .fa-minus;
}

.link {
  @extend .fontIcon;
  @extend .fa-link;
}

.table {
  @extend .fontIcon;
  @extend .fa-table;
}

.listOrdered {
  @extend .fontIcon;
  @extend .fa-list-ol;
}

.listUnordered {
  @extend .fontIcon;
  @extend .fa-list-ul;
}

.header {
  @extend .fontIcon;
  @extend .fa-header;
}

.textHeight {
  @extend .fontIcon;
  @extend .fa-text-height;
}

.eyedropper {
  @extend .fontIcon;
  @extend .fa-eyedropper;
}

.magic {
  @extend .fontIcon;
  @extend .fa-magic;
}

.times {
  @extend .fontIcon;
  @extend .fa-times;
}

/**
 * Directional icons
 */
.caretSquareDown {
  @extend .fontIcon;
  @extend .fa-caret-square-o-down;
}

.chevronLeft {
  @extend .fontIcon;
  @extend .fa-chevron-left;
}

.chevronRight {
  @extend .fontIcon;
  @extend .fa-chevron-right;
}
