@import "../styles/variables/colors";
@import "../styles/variables/spacing";
@import "../styles/variables/media-queries";
@import "../styles/variables/theme-variables";
@import "../styles/core/typography";

.appBarOuter {
  width: 100%;
  background-color: $app-bar-color;
  z-index: 100;
  height: $app-bar-height-small;
  padding-left: $gutter-less;
  padding-right: $gutter-less;
  box-sizing: border-box;

  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
  -webkit-flex-wrap: nowrap; /* Safari */
  flex-wrap: nowrap;
  -webkit-align-items: center; /* Safari */
  align-items: center;

  @media #{$device-medium} {
    height: $app-bar-height-medium;
    padding-left: $gutter-less;
    padding-right: $gutter;
  }

  @media #{$device-large} {
    height: $app-bar-height-large;
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.appBarCenter {
  @extend .cml-font-style-title;
  color: $app-bar-text-color;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  white-space: nowrap;

  line-height: $app-bar-height-small;
  @media #{$device-medium} {
    line-height: $app-bar-height-medium;
  }
  @media #{$device-large} {
    line-height: $app-bar-height-large;
  }
}

.appBarRight {
  margin-right: ($icon-size / 2) * -1;
  flex-basis: content;

  @media screen and (max-width: $media-device-small) {
    display: flex;
  }

  @media #{$device-medium} {
  }

  @media #{$device-large} {
  }
}

.appBarLeft {
  margin-right: ($gutter-less / 4);
  margin-left: ($icon-size / 2) * -1;
  flex-basis: content;

  @media #{$device-medium} {
    margin-right: ($gutter / 4);
  }

  @media #{$device-large} {
    margin-right: ($gutter / 4);
  }
}

.appBarIconButton {
  background-color: transparent;
  * {
    fill: $app-bar-text-color;
    color: $app-bar-text-color;
  }
}
