@import "../styles/variables/colors";
@import "../styles/theme/material/variables/theme-variables";

.button {
  user-select: none;
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
  line-height: $button-height;
  min-width: $button-min-width;
  min-height: $button-height;
  padding: 0 $desktop-gutter-less;
  margin: 0;
  text-transform: uppercase;
  border-radius: $button-border-radius;
}

.raised {
  @extend .button;

  color: $raised-button-text-color;
  background-color: $raised-button-color;

  &:hover {
    background-color: $raised-button-hover-color;
  }

  &primary {
    color: $raised-button-primary-text-color;
    background-color: $raised-button-primary-color;
  }

  &accent {
    color: $raised-button-secondary-text-color;
    background-color: $raised-button-secondary-color;
  }

  &disabled {
    color: $raised-button-disabled-text-color;
    background-color: $raised-button-disabled-color;
  }
}

.flat {
  @extend .button;

  background-color: $flat-button-color;
  color: $flat-button-text-color;

  &:hover {
    background-color: $flat-button-hover-color;
  }

  &primary {
    color: $flat-button-primary-text-color;
    &:hover {
      background-color: $flat-button-primary-hover-color;
    }
  }

  &accent {
    color: $flat-button-secondary-text-color;
    &:hover {
      background-color: $flat-button-secondary-hover-color;
    }
  }

  &disabled {
    color: $flat-button-disabled-text-color;
    &:hover {
      background-color: transparent;
    }
  }
}

.floating {
  @extend .button;

  color: $raised-button-text-color;
  background-color: $raised-button-color;
  text-align: center;

  height: $floating-action-button-size;
  width: $floating-action-button-size;
  min-width: $floating-action-button-size;
  -webkit-border-radius: $floating-action-button-size / 2;
  -moz-border-radius: $floating-action-button-size / 2;
  border-radius: $floating-action-button-size / 2;

  &mini {
    height: $floating-action-button-mini-size;
    width: $floating-action-button-mini-size;
    min-width: $floating-action-button-mini-size;
    -webkit-border-radius: $floating-action-button-mini-size / 2;
    -moz-border-radius: $floating-action-button-mini-size / 2;
    border-radius: $floating-action-button-mini-size / 2;
  }

  &:hover {
    background-color: $raised-button-hover-color;
  }

  &primary {
    color: $raised-button-primary-text-color;
    background-color: $raised-button-primary-color;
  }

  &accent {
    color: $raised-button-secondary-text-color;
    background-color: $raised-button-secondary-color;
  }

  &disabled {
    color: $raised-button-disabled-text-color;
    background-color: $raised-button-disabled-color;
  }
}

.icon {
  @extend .button;

  background-color: transparent;
  color: $flat-button-text-color;
  min-width: $button-height;

  &:hover {
    background-color: transparent;
  }

  &primary {
    &:hover {
      background-color: transparent;
    }
  }

  &accent {
    &:hover {
      background-color: transparent;
    }
  }

  &disabled {
    &:hover {
      background-color: transparent;
    }
  }
}