%text-full-black, 
.text-full-black { 
  color: $full-black; 
}

%text-dark-black,
.text-dark-black { 
  color: $dark-black; 
}
%text-light-black,
.text-light-black { 
  color: $light-black; 
}
%text-min-black,
.text-min-black { 
  color: $min-black; 
}
%text-full-white,
.text-full-white { 
  color: $full-white; 
}
%text-dark-white,
.text-dark-white { 
  color: $dark-white; 
}
%text-light-white,
.text-light-white { 
  color: $light-white; 
}

%font-weight-light,
.font-weight-light { 
  font-weight: 300;
}
%font-weight-normal,
.font-weight-normal { 
  font-weight: 400;
}

%font-weight-medium,
.font-weight-medium { 
  font-weight: 500;
}

/* Type Styles */
%font-style-display-4,
.font-style-display-4 {
  font-size:   112px;
  line-height: 128px;
  letter-spacing: -7px;
  padding-top: 17px;
  margin-bottom: 15px;
  @extend %font-weight-light;
  @extend %text-light-black;
}

%font-style-display-3,
.font-style-display-3 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  padding-top: 8px;
  margin-bottom: 28px;
  @extend %font-weight-normal;
  @extend %text-light-black;
}

%font-style-display-2,
.font-style-display-2 {
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 11px;
  letter-spacing: -1px;
  @extend %font-weight-normal;
  @extend %text-light-black;
}

%font-style-display-1,
.font-style-display-1 {
  font-size: 34px;
  line-height: 40px;
  padding-top: 8px;
  margin-bottom: 12px;
  letter-spacing: -1px;
  @extend %font-weight-normal;
  @extend %text-light-black;
}

%font-style-headline,
.font-style-headline {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
  margin-bottom: 12px;
  letter-spacing: 0;
  @extend %font-weight-normal;
  @extend %text-dark-black;
}

%font-style-title,
.font-style-title {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
  @extend %font-weight-medium;
  @extend %text-dark-black;
}

%font-style-subhead-2,
.font-style-subhead-2 {
  font-size: 15px;
  line-height: 28px;
  padding-top: 2px;
  margin-bottom: 10px;
  letter-spacing: 0;
  @extend %font-weight-normal;
  @extend %text-dark-black;
}

%font-style-subhead-1,
.font-style-subhead-1 {
  @extend %font-style-subhead-2;
  line-height: 24px;
  padding-top: 3px;
  margin-bottom: 13px;
  @extend %text-dark-black;
}

%font-style-body-2,
.font-style-body-2 {
  font-size: 14px;
  line-height: 24px;
  padding-top: 4px;
  margin-bottom: 12px;
  letter-spacing: 0;
  @extend %font-weight-medium;
  @extend %text-dark-black;
}

%font-style-body-1,
.font-style-body-1 {
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  margin-bottom: 15px;
  letter-spacing: 1;
  @extend %font-weight-normal;
  @extend %text-dark-black;
}

%font-style-caption,
.font-style-caption {
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  @extend %font-weight-normal;
  @extend %text-light-black;
}

%font-style-menu,
.font-style-menu {
  font-size: 13px;
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  @extend %font-weight-medium;
  @extend %text-dark-black;
}

%font-style-button,
.font-style-button {
  font-size: 14px;
  line-height: 20px;
  padding-top: 5px;
  margin-bottom: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  @extend %font-weight-medium;
  @extend %text-dark-black;
}

/* General HTML Typography */
body {
  font-size: 14px;
  line-height: 20px;
}

h1 { @extend .font-style-display-2; }
h2 { @extend .font-style-display-1; }
h3 { @extend .font-style-headline; }
h4 { @extend .font-style-title; }
h5 { @extend .font-style-subhead-1; }
h6 { @extend .font-style-body-2; }
p  { @extend .font-style-body-1; }