@import "../styles/variables/colors";
@import "../styles/variables/theme-variables";

.paper {
  display: block;
}

.paperRounded {
  border-radius: $paper-container-radius;
}

.paperCircle {
  border-radius: 50%;
}

.paperContainer {
  width: 100%;
}

.paperZDepth0 {
  box-shadow: none;
}

.paperZDepth1 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}

.paperZDepth1Bottom {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

.paperZDepth2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}

.paperZDepth2Bottom {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.paperZDepth3 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);
}

.paperZDepth3Bottom {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
}

.paperZDepth4 {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);
}

.paperZDepth4Bottom {
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25);
}

.paperZDepth5 {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);
}

.paperZDepth5Bottom {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30);
}